<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.orderalign.mapper.NotExistItemMapper">
    <resultMap id="BaseResultMap" type="com.example.orderalign.model.NotExistItem">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="kdt_id" jdbcType="BIGINT" property="kdtId" />
        <result column="app_id" jdbcType="VARCHAR" property="appId" />
        <result column="out_item_no" jdbcType="VARCHAR" property="outItemNo" />
        <result column="out_sku_no" jdbcType="VARCHAR" property="outSkuNo" />
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    </resultMap>

    <sql id="Base_Column_List">
        id, kdt_id, app_id, out_item_no, out_sku_no, created_at, updated_at
    </sql>

    <insert id="insert" parameterType="com.example.orderalign.model.NotExistItem" useGeneratedKeys="true" keyProperty="id">
        insert into not_exist_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            kdt_id,
            app_id,
            <if test="outItemNo != null and outItemNo != ''">
                out_item_no,
            </if>
            <if test="outSkuNo != null and outSkuNo != ''">
                out_sku_no
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{kdtId,jdbcType=BIGINT},
            #{appId,jdbcType=VARCHAR},
            <if test="outItemNo != null and outItemNo != ''">
                #{outItemNo,jdbcType=VARCHAR},
            </if>
            <if test="outSkuNo != null and outSkuNo != ''">
                #{outSkuNo,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>

    <select id="selectByKdtIdAndItemNoAndSkuNo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from not_exist_item
        where kdt_id = #{kdtId,jdbcType=BIGINT}
        <if test="outItemNo != null and outItemNo != ''">
            and out_item_no = #{outItemNo,jdbcType=VARCHAR}
        </if>
        <if test="outSkuNo != null and outSkuNo != ''">
            and out_sku_no = #{outSkuNo,jdbcType=VARCHAR}
        </if>
        limit 1
    </select>

    <select id="selectByAppIdAndItemNoAndSkuNo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from not_exist_item
        where app_id = #{appId,jdbcType=VARCHAR}
        and out_item_no = #{outItemNo,jdbcType=VARCHAR}
        <if test="outSkuNo != null and outSkuNo != ''">
            and out_sku_no = #{outSkuNo,jdbcType=VARCHAR}
        </if>
        limit 1
    </select>
</mapper>
